.u-section-1 .u-sheet-1 {
  min-height: 918px;
}

.u-section-1 .u-video-1 {
  width: 789px;
  height: 428px;
  margin: 226px 259px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 126px;
  height: 204px;
  margin: 24px auto 0 271px;
}

.u-section-1 .u-image-2 {
  width: 217px;
  height: 204px;
  margin: -204px auto 0 421px;
}

.u-section-1 .u-image-3 {
  width: 192px;
  height: 204px;
  margin: -204px 455px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 180px;
  height: 198px;
  margin: -213px 260px 52px auto;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-1 .u-video-1 {
    height: 462px;
    margin-top: 200px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 130px;
    height: 205px;
    margin-top: 31px;
    margin-left: 167px;
  }

  .u-section-1 .u-image-2 {
    width: 220px;
    height: 210px;
    margin-top: -207px;
    margin-left: 338px;
  }

  .u-section-1 .u-image-3 {
    width: 199px;
    height: 203px;
    margin-top: -197px;
    margin-right: 371px;
  }

  .u-section-1 .u-image-4 {
    width: 165px;
    height: 231px;
    margin-top: -226px;
    margin-right: 176px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-1 .u-video-1 {
    height: 387px;
    width: 714px;
    margin-top: 231px;
  }

  .u-section-1 .u-image-1 {
    width: 126px;
    height: 199px;
    margin-top: 17px;
    margin-left: 104px;
  }

  .u-section-1 .u-image-2 {
    width: 199px;
    height: 190px;
    margin-top: -194px;
    margin-left: 271px;
  }

  .u-section-1 .u-image-3 {
    width: 191px;
    height: 188px;
    margin-top: -190px;
    margin-right: 279px;
  }

  .u-section-1 .u-image-4 {
    width: 136px;
    height: 173px;
    margin-top: -179px;
    margin-right: 113px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-video-1 {
    height: 320px;
    width: 591px;
    margin-top: 214px;
  }

  .u-section-1 .u-image-1 {
    width: 84px;
    height: 158px;
    margin-top: 15px;
    margin-left: 79px;
  }

  .u-section-1 .u-image-2 {
    width: 163px;
    height: 156px;
    margin-top: -157px;
    margin-left: 197px;
  }

  .u-section-1 .u-image-3 {
    width: 154px;
    height: 154px;
    margin-top: -153px;
    margin-right: 190px;
  }

  .u-section-1 .u-image-4 {
    width: 111px;
    height: 154px;
    margin-top: -154px;
    margin-right: 65px;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-1 .u-video-1 {
    height: 253px;
    margin-top: 341px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 56px;
    height: 131px;
    margin-top: 17px;
    margin-left: 24px;
  }

  .u-section-1 .u-image-2 {
    width: 131px;
    height: 131px;
    margin-top: -129px;
    margin-left: 114px;
  }

  .u-section-1 .u-image-3 {
    width: 108px;
    height: 119px;
    margin-top: -125px;
    margin-right: auto;
    margin-left: 256px;
  }

  .u-section-1 .u-image-4 {
    width: 135px;
    height: 149px;
    margin: -134px auto 9px 381px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-video-1 {
    height: 180px;
    margin-top: 335px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 42px;
    height: 104px;
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 81px;
    height: 76px;
    margin-top: -90px;
    margin-left: 68px;
  }

  .u-section-1 .u-image-3 {
    width: 76px;
    height: 81px;
    margin-top: -74px;
    margin-right: 100px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    width: 94px;
    height: 94px;
    margin: -87px 0 6px auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 280px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 250px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: 17px;
    margin-bottom: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 495px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 399px;
  width: 1050px;
  margin: 20px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-group-1 {
  width: 1046px;
  min-height: 304px;
  height: auto;
  margin: 17px auto 23px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 460px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 9px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 35px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 21px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 18px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 14px;
}

.u-section-5 .u-map-1 {
  height: 256px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 9px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 6px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-5 .u-map-1 {
    margin-top: 20px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-5 .u-map-1 {
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-5 .u-map-1 {
    margin-top: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 134px;
    margin-left: 163px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 11px 10px;
  }

  .u-section-5 .u-map-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 175px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 257px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 167px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 102px;
  height: 102px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 167px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 102px;
  height: 99px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 167px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 23px;
}

.u-section-6 .u-image-3 {
  width: 102px;
  height: 114px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 167px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 30px 29px;
}

.u-section-6 .u-image-4 {
  width: 102px;
  height: 108px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 167px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  width: 102px;
  height: 102px;
  margin: 0 auto;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 15px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 144px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 144px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 144px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 144px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 144px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 119px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 119px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 14px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 360px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-6 .u-image-1 {
    width: 65px;
    height: 65px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-6 .u-image-2 {
    width: 65px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 226px;
  }

  .u-section-6 .u-image-3 {
    width: 65px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 226px;
  }

  .u-section-6 .u-image-4 {
    width: 65px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-6 .u-image-5 {
    width: 0;
    height: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 342px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 342px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 341px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 215px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 215px;
  }
}